{% extends 'base.html.twig' %}

{% block title %}Edit Subscription{% endblock %}

{% block body %}
    <div class="text-center">
        <h1>Edit Subscription</h1>

        {{ include('abonnement/_form.html.twig', {'button_label': 'Update'}) }}
        {{ include('abonnement/_delete_form.html.twig') }}

        <a href="{{ path('app_abonnement_index') }}">back to list</a>
    </div>
{% endblock %}
